.navbar-header h1 {
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-default {
	background-color: #333;
	border-color: none;
}
.navbar {
	border-radius: 0;
}
.navbar {
	position: none;
	min-height: 0;
	margin-bottom: 0;
	border: none;
}

.navbar-nav > li > .dropdown-menu {
	background-color: #333;
}

.navbar-toggle {
	border: 0px solid transparent;
	border-radius: 0px;
}

#header a:visited > a.dropdown-toggle {
	background-color: rgba(0,0,0,.5);
}

.dropdown-menu .divider {
	background-color: #337ab7;
}

.thumbnail {
	padding: 0px;
	border: 0px solid #ddd;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: initial;
}

.btn-default {
	color: #fff;
	background-color: #337ab7;
	border-color: #31708f;
}

button.btn.btn-default:hover {
	background-color: #31708f;
	border-color: #31708f;
	color: #fff;
}
.btn {
	border-radius: 0px;
}

.form-control {
	border-radius: 0px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

@media screen and (max-width: 825px) {
	.navbar-form.navbar-left .btn {
		width: 100%;
	}
}

.dropdown-submenu > .dropdown-menu {
	background-color: #333;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}


body {
	background: #fff none repeat scroll 0% 0%;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: rgba(0,0,0,.5);
}

.navbar-nav > li > .dropdown-menu > a.dropdown-toggle {
	background-color: rgba(0,0,0,.5) !important;
}

li.dropdown.open a.dropdown-toggle {

}

li.dropdown.open a.dropdown-toggle:hover{
	background-color: rgba(51, 122, 183, 0.58) !important;

}

li.dropdown-submenu a.dropdown-toggle{
	background-color: rgba(86, 90, 95, 0) !important;
}

li.dropdown-submenu.open{
	background-color: rgba(51, 122, 183, 0.58) !important;
	/* background-color:#000 !important; */
}
a.archive-article-title:hover {
	color: #31708f;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

body {
	width: 100%;
	background: #fff none repeat scroll 0% 0%;
}
#container > .outer {
	background: #fff none repeat scroll 0% 0%;
}
body:before,
body:after {
	content: "";
	display: table;
}
body:after {
	clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

body {
	line-height: 1;
	color: #000;
	background: #fff;
}
ol,
ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
	vertical-align: middle;
}
caption,
th,
td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}
a img {
	border: none;
}
input,
button {
	margin: 0;
	padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
html,
body,
#container {
	height: 100%;
}
body {
	color: #565a5f;
	background: #fff;
	font: 14px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
	-webkit-text-size-adjust: 100%;
}
a {
	color: #337ab7;
	text-decoration: none !important;
}
a:visited {
	color: #337ab7;
}
.outer {
	margin: 0 auto;
}
.outer:before,
.outer:after {
	content: "";
	display: table;
}
.outer:after {
	clear: both;
}

.left,
.alignleft {
	float: left;
}
.right,
.alignright {
	float: right;
}
.clear {
	clear: both;
}
.logo {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
#container {
	position: relative;
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
}


.archive-article-header a,
.layout-wrap-inner.tag-cloud a,
.archive-article-header a:visited,
.layout-wrap-inner.tag-cloud a:visited {
	color: #565a5f;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	transition: 0.2s ease;
}
.archive-article-header a:hover,
.layout-wrap-inner.tag-cloud a:hover,
.archive-article-header a:visited:hover,
.layout-wrap-inner.tag-cloud a:visited:hover {
	color: #38b7ea;
}
.article-date,
.article-category-link,
.archive-year,
.widget-title {
	text-decoration: none !important;
	/*text-transform: uppercase;*/
	color: #333;
	line-height: 1em;
}
#profile .inner,
.article-inner,
#comments,
.archive-article,
#toTop {
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.article-entry h1,
.widget h1 {
	font-size: 2em;
}
.article-entry h2,
.widget h2 {
	font-size: 1.5em;
}
.article-entry h3,
.widget h3 {
	font-size: 1.3em;
}
.article-entry h4,
.widget h4 {
	font-size: 1.2em;
}
.article-entry h5,
.widget h5 {
	font-size: 1em;
}
.article-entry h6,
.widget h6 {
	font-size: 1em;
	color: #999;
}
.article-entry hr,
.widget hr {
	border: 1px dashed #eceff2;
}
.article-entry strong,
.widget strong {
	font-weight: bold;
}
.article-entry em,
.widget em,
.article-entry cite,
.widget cite {
	font-style: italic;
}
.article-entry sup,
.widget sup,
.article-entry sub,
.widget sub {
	font-size: 0.75em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
.article-entry sup,
.widget sup {
	top: -0.5em;
}
.article-entry sub,
.widget sub {
	bottom: -0.2em;
}
.article-entry small,
.widget small {
	font-size: 0.85em;
}
.article-entry acronym,
.widget acronym,
.article-entry abbr,
.widget abbr {
	border-bottom: 1px dotted;
}
.article-entry ul,
.widget ul,
.article-entry ol,
.widget ol,
.article-entry dl,
.widget dl {
	margin: 0 20px;
	line-height: 1.6em;
}
.article-entry ul ul,
.widget ul ul,
.article-entry ol ul,
.widget ol ul,
.article-entry ul ol,
.widget ul ol,
.article-entry ol ol,
.widget ol ol {
	margin-top: 0;
	margin-bottom: 0;
}
.article-entry ul,
.widget ul {
	list-style: disc;
}
.article-entry ol,
.widget ol {
	list-style: decimal;
}
.article-entry dt,
.widget dt {
	font-weight: bold;
}
#header {
	background: #fff;
	position: relative;
}
#header a,
#header a:visited {
	white-space: nowrap;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	transition: 0.2s ease;
	color: #565a5f;
}
#header a:hover {
	color: #38b7ea;
}
.header-inner #logo,
#main-nav,
#sub-nav,
#search-form-wrap {
	height: 40px;
	line-height: 40px;
	padding: 12px 15px;
}
.header-inner #logo,
#main-nav {
	float: left;
}
#sub-nav,
#search-form-wrap {
	float: right;
}
.header-inner {
	height: 100%;
	position: relative;
}
.header-inner #logo {
	display: inline-block;
}
.header-inner #logo .logo {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 5px;
}
.header-inner #logo .site-title {
	font-size: 22px;
	display: inline-block;
	vertical-align: top;
	font-weight: 600;
	padding-left: 10px;
}
#header-title {
	text-align: center;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -20px;
}
.header-sub {
	border-top: 1px solid #eceff2;
}
.header-sub ul {
	margin: 0 15px;
}
.header-sub ul:before,
.header-sub ul:after {
	content: "";
	display: table;
}
.header-sub ul:after {
	clear: both;
}
.header-sub ul li {
	float: left;
	margin: 0 10px;
}
.header-sub ul li a {
	display: inline-block;
	line-height: 48px;
}
.header-sub .main-nav-link {
	display: inline-block;
	line-height: 48px;
}

.nav-icon,
.main-nav-link {
	float: left;
	display: block;
	padding: 0 15px;
}
.nav-icon {
	text-align: center;
	font-size: 14px;
	width: 14px;
	height: 14px;
	position: relative;
	cursor: pointer;
	height: 40px !important;
	line-height: 40px !important;
}
.main-nav-link {
	font-weight: 500;
}

#sub-nav #profile-nav #profile-anchor {
	display: block;
	height: 40px;
	line-height: 40px;
}
#sub-nav #profile-nav #profile-anchor:before,
#sub-nav #profile-nav #profile-anchor:after {
	content: "";
	display: table;
}
#sub-nav #profile-nav #profile-anchor:after {
	clear: both;
}
#sub-nav #profile-nav .avatar,
#sub-nav #profile-nav .fa {
	float: left;
}
#sub-nav #profile-nav .avatar {
	width: 40px;
	height: 40px;
	margin-right: 8px;
}
#sub-nav #profile-nav .fa {
	line-height: 40px;
}

#search-form-wrap .search-form {
	position: relative;
}
#search-form-wrap .search-form .search-form-input {
	width: 100%;
	height: 40px;
	padding: 0 30px 0 10px;
	line-height: 40px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
#search-form-wrap .search-form .search-form-input::-webkit-search-results-decoration,
#search-form-wrap .search-form .search-form-input::-webkit-search-cancel-button {
	-webkit-appearance: none;
}
#search-form-wrap .search-form .search-form-submit {
	top: 50%;
	right: 15px;
	border: none;
	cursor: pointer;
	margin-top: -7px;
	background: none;
	position: absolute;
	font: 13px font-icon;
	font-family: 'FontAwesome';
}
#search-form-wrap .search-form .search-form-submit:before {
	content: '\f002';
}
#search-form-wrap .search-form .search-form-submit:hover,
#search-form-wrap .search-form .search-form-submit:focus {
	color: #777;
}
.search-form-input {
	width: 200px;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #565a5f;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	transition: 0.2s ease;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font: 14px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
	border: 1px solid #eceff2;
}
.search-form-input:focus {
	border-color: #38b7ea;
}
#main-nav-mobile {
	overflow-y: hidden;
	overflow-x: auto;
}
#main-nav-mobile .menu {
	margin: 0;
	height: 48px;
}
#main-nav-mobile .menu:before,
#main-nav-mobile .menu:after {
	content: "";
	display: table;
}
#main-nav-mobile .menu:after {
	clear: both;
}
#main-nav-mobile .menu .search-form-input {
	display: none;
	padding: 0 10px;
	margin-right: 15px;
	height: 32px;
	line-height: 32px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

#main-nav-mobile .menu .search-form-input::-webkit-search-results-decoration,
#main-nav-mobile .menu .search-form-input::-webkit-search-cancel-button {
	-webkit-appearance: none;
}
.bio {
	text-align: center;
}
#profile .inner .bio h2 {
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 15px;
}
#profile .inner .bio p {
	margin: 5px 20px 10px 20px;
	text-align: justify;
	max-width: 300px;
	line-height: 1.5em;
}
.profile-block {
	padding: 15px 20px;
	border-bottom: 1px solid #eceff2;
}
.profile-block:last-child {
	border-bottom: none;
}
#profile {
	display: inline;
	float: left;
	width: 21.5384615384615%;
	margin: 0 0.7692307692308%;
	display: none;
}

#profile .inner {
	margin-top: 40px;
	background: #fff;
}
#profile .inner .base-info #avatar {
	display: block;
	margin: 10px auto 20px;
	width: 128px;
	height: 128px;
}
#profile .inner .base-info #name,
#profile .inner .base-info #title,
#profile .inner .base-info #location {
	display: block;
	text-align: center;
}
#profile .inner .base-info #name {
	font-size: 20px;
	font-weight: 600;
}
#profile .inner .base-info #location {
	font-size: 12px;
	margin-top: 5px;
	color: #9a9ea3;
}
#profile .inner .base-info #location .fa {
	margin-right: 5px;
}
#profile .inner .base-info #follow {
	color: #fff;
	width: 150px;
	height: 40px;
	display: block;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	margin: 20px auto 10px;
	background: #38b7ea;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	transition: 0.2s ease;
}
#profile .inner .base-info #follow:hover {
	background: #49c8fb;
}
#profile .inner .article-info {
	padding: 0px;
}
#profile .inner .article-info:before,
#profile .inner .article-info:after {
	content: "";
	display: table;
}
#profile .inner .article-info:after {
	clear: both;
}
#profile .inner .article-info .article-info-block {
	width: 50%;
	float: left;
	padding: 20px 15px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 20px;
}
#profile .inner .article-info .article-info-block span {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
}
#profile .inner .article-info .article-info-block:first-child {
	border-right: 1px solid #eceff2;
}
#profile .inner .contact-info .contact-list {
	width: 100%;
}
#profile .inner .contact-info .contact-list td {
	text-align: center;
	font-size: 24px;
}
#profile .inner .contact-info .contact-list td a {
	position: relative;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	transition: 0.2s ease;
	color: #898d92;
}
#profile .inner .contact-info .contact-list td a:hover {
	color: #565a5f;
}
#profile .inner .contact-info .contact-list td a:hover:after {
	right: -50%;
	top: -41px;
	color: #fff;
	background: #333;
	font-size: 14px;
	content: attr(title);
	display: block;
	padding: 5px 15px;
	position: absolute;
	white-space: nowrap;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-transform: uppercase;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2);
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
	z-index: 1;
}
#profile .inner .contact-info .contact-list td a:hover:before {
	top: -12px;
	right: 8px;
	border: solid;
	border-color: #333 transparent;
	border-width: 5px 5px 0 5px;
	content: "";
	display: block;
	position: absolute;
	z-index: 2;
}
#profile.card {
	top: 50px;
	right: 20px;
	z-index: 999;
	display: block;
	min-width: 280px;
	position: absolute;
}
#profile.card .profile-inner {
	position: relative;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
#profile.card .profile-inner:before,
#profile.card .profile-inner:after {
	z-index: 1;
	content: '';
	top: -20px;
	right: 10px;
	position: absolute;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
}
#profile.card .profile-inner:after {
	z-index: 0;
	border-color: transparent transparent #dbdee1 transparent;
}
.article {
	margin: 40px 0;
}
.article-inner {
	overflow: hidden;
}
.article-meta:after {
	clear: both;
}
.article-meta > div {
	margin-bottom: 5px;
	font-size: 15px;
}
.article-meta .article-date,
.article-meta .article-category {
	margin-right: 10px;
	color: #9a9ea3;
}
.article-meta a {
	color: #9a9ea3;
}
.article-meta a:hover {
	color: rgba(154, 158, 163, 0.8);
}
.article-date {
	float: left;
	margin-top:2px;
}
.article-category {
	float: left;
	color: #565a5f;
}
.article-category .fa-angle-right {
	margin: 0 5px;
}

.article-header {
	padding: 5px 5px 0;
}

.article-header .article-title {
	display: block;
	margin-bottom: 14px;
}

.article-title {
	text-decoration: none !important;
	font-size: 2em;
	color: #337ab7 !important;
	line-height: 1.1em;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-ms-transition: color 0.2s;
	transition: color 0.2s;
}
.article-title a:visited {
	color: #31708f !important;
}
.article-title a:hover {
	color: #31708f !important;
}
.article-entry {

	color: #292929;
	line-height: 1.6em;
}
.article-entry:before,
.article-entry:after {
	content: "";
	display: table;
}
.article-entry:after {
	clear: both;
}
.article-entry p,
.article-entry table {
	line-height: 1.6em;
	margin: 1.6em 0;
	font-size: 16px;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
	font-weight: bold;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
	line-height: 1.1em;
	margin: 1.1em 0;
}
.article-entry a {
	color: #337ab7;
	text-decoration: none;
}
.article-entry a:hover {
	text-decoration: underline;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
	margin-top: 1.6em;
	margin-bottom: 1.6em;
}

.article-entry iframe {
	border: none;
}
.article-entry table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.article-entry th {
	font-weight: bold;
	border-bottom: 3px solid #eceff2;
	padding-bottom: 0.5em;
}
.article-entry td {
	border-bottom: 1px solid #eceff2;
	padding: 10px 0;
}
.article-entry blockquote {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.4em;
	border-left: 2px solid #ccc;
	padding-left: 10px;
}
.article-entry blockquote footer {
	font-size: 14px;
	margin: 1.6em 0;
	font-family: "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
}
.article-entry blockquote footer cite:before {
	content: "â€”";
	padding: 0 0.5em;
}
.article-entry .pullquote {
	text-align: left;
	width: 45%;
	margin: 0;
}
.article-entry .pullquote.left {
	margin-left: 0.5em;
	margin-right: 1em;
}
.article-entry .pullquote.right {
	margin-right: 0.5em;
	margin-left: 1em;
}
.article-entry .caption {
	color: #999;
	display: block;
	font-size: 0.9em;
	margin-top: 0.5em;
	position: relative;
	text-align: center;
}
.article-entry .video-container {
	position: relative;
	padding-top: 56.25%;
	height: 0;
	overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin-top: 0;
}
.article-more-link a {
	display: inline-block;
	line-height: 1em;
	padding: 6px 15px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	color: #777;
	background: rgba(221, 221, 221, 0.63);
	text-decoration: none;
}
.article-more-link a:hover {
	background: #ddd;
	text-decoration: none;
}
.article-footer {
	font-size: 0.85em;
	font-weight: 500;
	line-height: 1.6em;
	border-top: 1px solid #eceff2;
	padding-top: 1.6em;
	margin: 0 20px 20px;
}
.article-footer:before,
.article-footer:after {
	content: "";
	display: table;
}
.article-footer:after {
	clear: both;
}
.article-footer a {
	color: #999;
	text-decoration: none;
}
.article-footer a:hover {
	color: #565a5f;
}
.article-tag-list-item {
	float: left;
	margin-right: 10px;
}
.article-tag-list-link:before {
	content: "#";
}
.article-comment-link {
	float: right;
}
.article-comment-link:before {
	content: "\f075";
	font-family: FontAwesome;
	padding-right: 8px;
}
.article-share-link {
	cursor: pointer;
	float: right;
	margin-left: 20px;
}
.article-share-link:before {
	content: "\f064";
	font-family: FontAwesome;
	padding-right: 6px;
}
#article-nav {
	position: relative;
}
#article-nav:before,
#article-nav:after {
	content: "";
	display: table;
}
#article-nav:after {
	clear: both;
}

.article-nav-link-wrap {
	text-decoration: none;
	color: #999;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 40px;
	text-align: left;
	display: block;
	margin-left: 15px;
	margin-right: 15px;
}

.article-nav-link-wrap:hover {
	color: #07b;
}

.article-nav-caption {
	letter-spacing: 2px;
	line-height: 1em;
	font-weight: bold;
	color: #565a5f;
	text-transform: uppercase;
}
#article-nav-newer .article-nav-caption {
	margin-right: -2px;
}
.article-nav-title {
	font-size: 0.85em;
	line-height: 1.6em;
	margin-top: 0.5em;
}
.article-share-box {
	position: absolute;
	display: none;
	background: #fff;
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-left: -145px;
	overflow: hidden;
	z-index: 1;
}
.article-share-box.on {
	display: block;
}
.article-share-input {
	width: 100%;
	background: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font: 14px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
	padding: 0 15px;
	color: #565a5f;
	/*outline: none;*/
	border: 1px solid #eceff2;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	height: 36px;
	line-height: 36px;
}
.article-share-links {
	background: #f5f8f9;
}
.article-share-links:before,
.article-share-links:after {
	content: "";
	display: table;
}
.article-share-links:after {
	clear: both;
}
.article-share-twitter,
.article-share-facebook,
.article-share-pinterest,
.article-share-google {
	width: 50px;
	height: 36px;
	display: block;
	float: left;
	position: relative;
	color: #999;
	text-shadow: 0 1px #fff;
}
.article-share-twitter:before,
.article-share-facebook:before,
.article-share-pinterest:before,
.article-share-google:before {
	font-size: 20px;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -10px;
	text-align: center;
}
.article-share-twitter:hover,
.article-share-facebook:hover,
.article-share-pinterest:hover,
.article-share-google:hover {
	color: #fff;
}
.article-share-twitter:hover {
	background: #00aced;
	text-shadow: 0 1px #008abe;
}
.article-share-facebook:hover {
	background: #3b5998;
	text-shadow: 0 1px #2f477a;
}
.article-share-pinterest:hover {
	background: #cb2027;
	text-shadow: 0 1px #a21a1f;
}
.article-share-google:hover {
	background: #dd4b39;
	text-shadow: 0 1px #be3221;
}
.article-gallery {
	background: #000;
	position: relative;
}
.article-gallery-photos {
	position: relative;
	overflow: hidden;
}
.article-gallery-img {
	display: none;
	max-width: 100%;
}
.article-gallery-img:first-child {
	display: block;
}
.article-gallery-img.loaded {
	position: absolute;
	display: block;
}
.article-gallery-img img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
#comments {
	padding: 20px;
	margin: 40px 0;
}
#comments a {
	color: #38b7ea;
}
.archives:before,
.archives:after {
	content: "";
	display: table;
}
.archives:after {
	clear: both;
}
.archives .article:first-child {
	margin: 20px 0;
}
.archive-year-wrap,
.archive-category-wrap,
.archive-tag-wrap,
.layout-title {
	font-size: 1.4em;
	margin: 40px 0 20px 0;
}

.archive-year-wrap .fa,
.archive-category-wrap .fa,
.archive-tag-wrap .fa,
.layout-title .fa {
	margin-right: 3px;
}
.archive-year-wrap .archive-year,
.archive-category-wrap .archive-year,
.archive-tag-wrap .archive-year,
.layout-title .archive-year {
	color: #565a5f;
}
.archive-year-wrap .archive-year:hover,
.archive-category-wrap .archive-year:hover,
.archive-tag-wrap .archive-year:hover,
.layout-title .archive-year:hover {
	color: #38b7ea;
}

.archive-article {
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	overflow: hidden;
	break-inside: avoid-column;
	padding: 0;
	margin-bottom: 15px;
}
.archive-article:before,
.archive-article:after {
	content: "";
	display: table;
}
.archive-article:after {
	clear: both;
}
.archive-article-thumbnail {
	float: left;
	margin-right: 10px;
}
.archive-article-thumbnail .thumbnail {
	width: 160px;
	height: 90px;
	display: block;
	position: relative;
	overflow: hidden;
}
.archive-article-thumbnail .thumbnail span {
	width: 100%;
	height: 100%;
	display: block;
}
.archive-article-thumbnail .thumbnail .thumbnail-image {
	position: absolute;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center;
}
.archive-article-thumbnail .thumbnail .thumbnail-none {
	background-image: url("images/thumb-default-small.png");
}

.archive-article-header {
	/* padding: 10px; */
}
.archive-article-title {
	font-size: 1.2em;
	line-height: 1.2em;
}

.archive-article-date {
	display: block;
	margin-top: 8px;
}
.layout-wrap-inner.list-categories ul {
	margin-left: 15px;
	list-style: none;
}
.layout-wrap-inner.list-categories ul li,
.layout-wrap-inner.list-categories ul .category-list-child {
	padding: 10px 0;
	font-size: 14px;
	border-bottom: 1px solid border-color;
}
.layout-wrap-inner.list-categories ul li a,
.layout-wrap-inner.list-categories ul .category-list-child a {
	color: #777;
}
.layout-wrap-inner.list-categories ul ul,
.layout-wrap-inner.list-categories ul ol {
	list-style: none;
}
.layout-wrap-inner.list-categories ul ul li,
.layout-wrap-inner.list-categories ul ol li {
	border: none;
}
.layout-wrap-inner.list-categories ul ul li:last-child,
.layout-wrap-inner.list-categories ul ol li:last-child {
	padding-bottom: 0px;
}
.layout-wrap-inner.list-categories li a:before {
	color: #ccc;
	content: "\f0da";
	font-size: 12px;
	margin-right: 6px;
	font-family: FontAwesome;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	transition: 0.2s ease;
}
.layout-wrap-inner.list-categories li a:hover:before {
	color: #333;
}
.layout-wrap-inner.tag-cloud a {
	margin-right: 8px;
}
.layout-wrap-inner.tag-cloud a:before {
	content: '#';
}
#page-nav {
	margin: 40px auto;
	text-align: center;
	color: #999;
	overflow: hidden;
}
#page-nav:before,
#page-nav:after {
	content: "";
	display: table;
}
#page-nav:after {
	clear: both;
}
#page-nav a,
#page-nav span {
	height: 32px;
	padding: 0 10px;
	line-height: 32px;
	text-align: center;
	display: inline-block;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
#page-nav a {
	color: #999;
	text-decoration: none;
}
#page-nav a:hover {
	color: #fff;
	background: #38b7ea;
}
#page-nav .page-number {
	display: inline-block;
}

#page-nav .current {
	color: #565a5f;
	font-weight: bold;
}
#page-nav .space {
	color: #eceff2;
}
#footer {
	padding: 20px 0;
	border-top: 1px solid #eceff2;
	color: #565a5f;
	font-size: 16px;
	text-align: left;
}
#footer .outer {
	margin-bottom: 30px;
	margin-left: 30px;
}
#footer a {
	color: #337ab7;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}
#footer-info {
	line-height: 1.6em;
}

#footer-center a{
	color: #ccc;
}

#footer-center {
	left: 45%;
	font-size: 44px;
	position:absolute;
	margin-top: -0.5em;
}
footer#footer-center > a > span.icon-phoenix_logo:hover{
	color:rgba(153, 153, 153, 0.71);
}


footer#footer-right a {
	padding-left: 30px;
}
.article-entry pre,
.article-entry .highlight {
	background: #34383d;
	margin: 0 -20px;
	padding: 15px 20px;
	border-style: solid;
	border-color: #eceff2;
	border-width: 1px 0;
	overflow: auto;
	color: #ccc;
	line-height: 22.400000000000002px;
}
.article-entry .highlight .gutter pre,
.article-entry  .line-numbers {
	color: #666;
	font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
	font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-entry code {
	background: #f5f8f9;
	text-shadow: 0 1px #fff;
	padding: 0 0.3em;
}
.article-entry pre code {
	background: none;
	text-shadow: none;
	padding: 0;
}
.article-entry .highlight pre {
	border: none;
	margin: 0;
	padding: 0;
}
.article-entry .highlight table {
	margin: 0;
	width: auto;
}
.article-entry .highlight td {
	border: none;
	padding: 0;
}
.article-entry .highlight figcaption {
	font-size: 0.85em;
	color: #999;
	line-height: 1em;
	margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
	content: "";
	display: table;
}
.article-entry .highlight figcaption:after {
	clear: both;
}
.article-entry .highlight figcaption a {
	float: right;
}
.article-entry .highlight .gutter pre {
	text-align: right;
	padding-right: 20px;
}
.article-entry .highlight .line {
	height: 22.400000000000002px;
}

pre .comment,
pre .title,
pre .template_comment,
pre .header,
pre .javadoc {
	color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo,
pre .winutils,
pre .method,
pre .request,
pre .status,
pre .nginx .title,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .clojure .title,
pre .deletion {
	color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .preprocessor .keyword,
pre .built_in,
pre .literal,
pre .params,
pre .constant,
pre .command,
pre .lisp .body,
pre .parent,
pre .haskell .type {
	color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute,
pre .addition {
	color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .ruby .symbol,
pre .symbol .string,
pre .xml .cdata,
pre .function .title {
	color: #9c9;
}
pre .css .hexcolor,
pre .phpdoc,
pre .tex .formula {
	color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .identifier,
pre .vhdl {
	color: #69c;
}
pre .keyword,
pre .javascript .function {
	color: #c9c;
}

.widget {
	line-height: 1.6em;
	word-wrap: break-word;
	font-size: 0.9em;
}
.widget ul,
.widget ol {
	list-style: none;
	margin: 0;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
	margin: 0 20px;
}
.widget ul ul,
.widget ol ul {
	list-style: disc;
}
.widget ul ol,
.widget ol ol {
	list-style: decimal;
}
.category-list-count,
.tag-list-count,
.archive-list-count {
	padding-left: 5px;
	color: #999;
	font-size: 0.85em;
}
.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
	content: "(";
}
.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
	content: ")";
}
.tagcloud a {
	margin-right: 5px;
}
.widget-wrap {
	margin: 0px 10px;
}

.widget-title {
	margin-bottom: 0;
}
.widget {
	padding-bottom: 20px;
}
.widget a {
	color: #777;
	text-decoration: none;
}
.widget a:hover {
	color: #333;
}
.widget ul ul,
.widget ol ul,
.widget dl ul,
.widget ul ol,
.widget ol ol,
.widget dl ol,
.widget ul dl,
.widget ol dl,
.widget dl dl {
	margin-left: 15px;
	list-style: disc;
}
.widget ul,
.widget ol {
	list-style: none;
}
.widget ul li,
.widget ol li,
.widget ul .category-list-child,
.widget ol .category-list-child {
	padding: 10px 0;
	font-size: 14px;
	border-bottom: 1px solid border-color;
}
.widget ul li a,
.widget ol li a,
.widget ul .category-list-child a,
.widget ol .category-list-child a {
	color: #777;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
	list-style: none;
}
.widget ul ul li,
.widget ol ul li,
.widget ul ol li,
.widget ol ol li {
	border: none;
}
.widget ul ul li:last-child,
.widget ol ul li:last-child,
.widget ul ol li:last-child,
.widget ol ol li:last-child {
	padding-bottom: 0px;
}
.widget ul:not(#recent-post) li a:before,
.widget ol:not(#recent-post) li a:before {
	color: #ccc;
	content: "\f0da";
	font-size: 12px;
	margin-right: 6px;
	font-family: FontAwesome;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	transition: 0.2s ease;
}
.widget ul:not(#recent-post) li a:hover:before,
.widget ol:not(#recent-post) li a:hover:before {
	color: #333;
}
#toTop {
	cursor: pointer;
	text-align: center;
	width: 64px;
	height: 64px;
	color: #fff;
	font-size: 32px;
	line-height: 64px;
	background: #565a5f;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#toTop.fix {
	bottom: 20px;
	position: fixed;
}

#recent-post li:before,
#recent-post li:after {
	content: "";
	display: table;
}
#recent-post li:after {
	clear: both;
}
#recent-post.no-thumbnail li {
	padding: 10px 0px;
}
#recent-post li .item-thumbnail {
	opacity: 1;
	float: left;
	margin-left: -94px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
#recent-post li .item-thumbnail .thumbnail {
	width: 80px;
	height: 80px;
	display: block;
	position: relative;
	overflow: hidden;
}
#recent-post li .item-thumbnail .thumbnail span {
	width: 100%;
	height: 100%;
	display: block;
}
#recent-post li .item-thumbnail .thumbnail .thumbnail-image {
	position: absolute;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center;
}
#recent-post li .item-thumbnail .thumbnail .thumbnail-none {
	background-image: url("images/thumb-default-small.png");
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
}
#recent-post li .item-inner a,
#recent-post li .item-inner .item-category {
	font-size: 13px;
	text-transform: uppercase;
}
#recent-post li .item-inner a a,
#recent-post li .item-inner .item-category a {
	color: #38b7ea;
}
#recent-post li .item-inner a a:hover,
#recent-post li .item-inner .item-category a:hover {
	color: #333;
}
#recent-post li .item-inner a a,
#recent-post li .item-inner .item-category a,
#recent-post li .item-inner a .fa,
#recent-post li .item-inner .item-category .fa {
	margin-right: 5px;
}
#recent-post li .item-inner .item-title {
	font-size: 15px;
}
#recent-post li .item-inner .item-title a {
	color: #333;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
#recent-post li .item-inner .item-date {
	color: #aaa;
	font-size: 13px;
	text-transform: uppercase;
}
#recent-post li:hover .item-thumbnail {
	opacity: 0.8;
}
#recent-post li:hover .item-title a {
	color: #38b7ea;
}

code.has-jax {
	font: inherit;
	font-size: 100%;
	background: inherit;
	border: inherit;
	color: #515151;
}

.article-banner {
	width: 200px;
	height: auto;
}

h1.article-title {
	color: #000;
}

#recent-post li#first-recent {
	padding: 0;
}

.container {
	width: 100% !important;
}
#header {
	border-bottom: solid 4px #428bca;
	height: 65px;
}

.thumbnail {
	padding: 0px;
	border: 0px solid #ddd;
}

.container-fluid {
	width:980px;
	padding-top: 7px;
}

.container {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
	padding-bottom: 4px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #428bca !important;
}

.navbar-nav>li>.dropdown-menu {
	margin-top: 7px !important;
}


pre {
	border-radius: 0px !important;
}

.article-inner-first {
	margin:30px 10px 10px 10px;
	padding:10px;
	background: #ECF2F5 none repeat scroll 0% 0%;
	border: 1px solid #BCD;
}
.article-inner-first h2 {
	padding-top:0px;
	margin-top:0px;
	font-size:20px;
	font-weight: bold;
	padding-bottom:10px;
	border-bottom: 1px solid #ccc;
}


.widget-title {
	font-size: 1.3em;
}

#profile .inner, .article-inner, #comments, .archive-article, #toTop {
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
	padding-left: 15px;
	padding-right: 15px;
}

time{
	float:right;
}

.article-header .article-title {
	font-size: 30px;
}

div#article-category .fa.fa-terminal {
	background-color:#000;

}

.article-more-link {
	float: right;
}

.archive-article-header h1 {
	font-size:22px;
}

.archive-article {
	padding-left: 0px;
	padding-right: 0px;
}

#profile .inner, .article-inner, #comments, #toTop {
	padding-left: 15px;
	padding-right: 15px;
}

.archive-article {
	padding: 0px;
	margin-bottom: 0px;
}

.archive-year-wrap, .archive-category-wrap, .archive-tag-wrap, .layout-title {
	padding-left: 15px;
	padding-right: 15px;
}

.article-entry p, .article-entry table {
	margin: 0.5em 0px;
}

.article-entry {
	padding-bottom: 15px;
}

#recent-post li .item-thumbnail .thumbnail .thumbnail-none {
	background-color: aliceblue;
}

.navbar-nav>li>a {
	font-weight: 500;
}

#article-nav {
	padding: 50px;
}

img {
	width: 100%;
}

div.talaria-wrapper a > img {
	width: 48px !important;
}

div.talaria-header h3 small {
	font-size: 1rem !important;
}

div.talaria-wrapper div.talaria-comment-body {
	padding: 1rem !important;
}

a.talaria-last-commit-href {
	font-size: 0.7em;
}

div.talaria-wrapper div.talaria-header h3 {
	font-size: 24px !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: rgba(38, 87, 111, 0.69) !important;
}

.navbar-default .navbar-nav .open > .dropdown-menu > .dropdown-submenu.open > a, .navbar-default .navbar-nav .open > .dropdown-menu > .dropdown-submenu.open > a:hover, .navbar-default .navbar-nav .open > .dropdown-menu > .dropdown-submenu.open > a:focus {
	background-color: rgba(0,0,0,.5) !important;
}

.navbar-nav > li > .dropdown-menu {
	background-color: rgba(0,0,0,.5) !important;
}
ul.dropdown-menu a:hover {
	color:#fff !important;
	background-color: rgba(51, 122, 183, 0.72) !important;
}

.widget ul li a, .widget ol li a, .widget ul .category-list-child a, .widget ol .category-list-child a {
	font-size: 16px;
}

.widget.tagcloud a {
	font-size: 14px !important;
}

.article-entry p a:hover{
	color: #31708f;
}

h3.widget-title {
	font-size: 20px;
}




a.archive-article-title:hover {
	color: #31708f;
}

ul.nav.navbar-nav.navbar-right {
	margin-top: 3px;
}

td, th {
	padding: 20px !important;
}

.article-entry {
	padding-top: 20px;
}

.tweet-footer {
	padding-top:30px;
	padding-bottom:10px;
	text-align: center;
}

span.tweet-botton{
	color: #4078c0;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px 15px 10px 30px;
	border-radius: 3px;
}

span.tweet-botton:hover{
	border-color: #eceff2;
	border: 1px solid rgba(64, 120, 192, 0.49);
}

span.tweet-botton > i.fa.fa-twitter{
	position: absolute;
	font-size: 20px;
	margin-left: -20px;
	margin-top: -2px;
}

div.talaria-wrapper div.talaria-comment-count {
	padding: 20px;
}

input#search {
	padding: 6px 14px;
	width: 100%;
	border-radius: 0px !important;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	transition: 0.2s ease;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font: 18px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
	border: 1px solid #eceff2;
}

input#search:focus {
	border-color: #38b7ea;
}


ul#results {
	padding: 10px 0;
	font-size: 20px;
}

#sidebar {
	margin-top: 20px;
	max-width: 250px;
}

#container > .outer {
	margin-bottom: 30px;
	margin-top: 30px;
}

ul.nav.navbar-nav.navbar-right > li > a > i.fa.fa-gitlab,ul.nav.navbar-nav.navbar-right > li > a > i.fa.fa-twitter, ul.nav.navbar-nav.navbar-right > li > a > i.fa.fa-github,ul.nav.navbar-nav.navbar-right > li > a > i.fa.fa-rss-square {
	font-size: 22px;
}
#container > .outer{
	width:980px;
}
#footer .outer {
	width:980px;
	margin-right: auto;
	margin-left: auto;
}

#footer-right {
	font-size: 14px;
	color: #999;
	float: right !important;
	margin-top: -0.5em;
}




.widget li {
	border-top: solid 1px #ccc;
	/* border-width: 1px 0; */
}
.widget ul {
	border-bottom: solid 1px #ddd;
	/* border-width: 0 1px; */
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;
}

.widget ul li, .widget ol li, .widget ul .category-list-child, .widget ol .category-list-child {
	padding: 7px 15px;
}

h3.widget-title {
	background-color:rgba(238, 238, 238, 0.53);
	padding: 10px 15px;
	font-size:18px;
	font-color:#999;
}
ul.category-list {
	border: solid 1px #ddd;
}
.widget.tagcloud {
	padding: 7px 15px;
	border-top: solid 1px #ddd;
	border-width:1px 0;
}

a > li.category-list-item:hover {
	background-color: rgba(51, 122, 183, 0.71);
	color: #fff;
}

a > li.category-list-item:hover > span.category-list-count {
	color: #fff;
}

.widget ul li:hover, .widget ol li, .widget ul .category-list-child, .widget ol .category-list-child {

}

.sidebar {
	width: auto;
}

footer#footer-center > a:hover {
	color: #ccc;
}

div#blog-archives > h1 {
	padding: 10px 30px;
	font-size: 22px;
}

div.talaria-wrapper div.talaria-comment-count {
	background-color: #eceff2;
	padding: 20px;
	border: solid 1px #ddd;
	border-radius: 3px;
	text-align: center;
	font-size: 16px;
}

.talaria-comment-count > i.fa.fa-github {
	font-size: 23px;
	padding: 0 10px;
}

div.talaria-wrapper div.talaria-comment-count:hover {
	border-color: #31708f;
}

.navbar-header h1 {
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-default {
	background-color: #333;
	border-color: none;
}
.navbar {
	border-radius: 0;
}
.navbar {
	position: none;
	min-height: 0;
	margin-bottom: 0;
	border: none;
}

.navbar-nav > li > .dropdown-menu {
	background-color: #333;
}

.navbar-toggle {
	border: 0px solid transparent;
	border-radius: 0px;
}

#header a:visited > a.dropdown-toggle {
	background-color: rgba(0,0,0,.5);
}

.dropdown-menu .divider {
	background-color: #337ab7;
}

.thumbnail {
	padding: 0px;
	border: 0px solid #ddd;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: initial;
}

.btn-default {
	color: #fff;
	background-color: #337ab7;
	border-color: #31708f;
}

button.btn.btn-default:hover {
	background-color: #31708f;
	border-color: #31708f;
	color: #fff;
}
.btn {
	border-radius: 0px;
}

.form-control {
	border-radius: 0px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

@media screen and (max-width: 825px) {
	.navbar-form.navbar-left .btn {
		width: 100%;
	}
}

.dropdown-submenu > .dropdown-menu {
	background-color: #333;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}


body {
	background: #fff none repeat scroll 0% 0%;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: rgba(0,0,0,.5);
}

.navbar-nav > li > .dropdown-menu > a.dropdown-toggle {
	background-color: rgba(0,0,0,.5) !important;
}



li.dropdown.open a.dropdown-toggle:hover{
	background-color: rgba(51, 122, 183, 0.58) !important;

}

li.dropdown-submenu a.dropdown-toggle{
	background-color: rgba(86, 90, 95, 0) !important;
}

li.dropdown-submenu.open{
	background-color: rgba(51, 122, 183, 0.58) !important;
}
a.archive-article-title:hover {
	color: #31708f;
}

.navbar-brand span.icon-archlinux:hover {
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	color: #38B7EA;
}

.navbar-brand span.icon-archlinuxjp {
	font-size: 40px;
	position: absolute;
	color: #1793D1;
}

.navbar-brand span.icon-archlinux {
	font-size: 40px;
	color: #1793D1;
}
.navbar-brand span.site-title {
	position: absolute;
	padding-left: 5px;
	color: #fff;
}

.navbar-brand span.icon-phoenix_logo {
	font-size: 40px;
	color: #fff;
}

.nav.navbar-nav.navbar-right li span.icon-archlinux-font-arch {
	padding-left: 5px;
	font-size: 45px;
	color: #fff;
}

.nav.navbar-nav.navbar-right li a span.icon-archlinux-font-linux {
	font-size: 45px;
	color: #1794D1;
}

.navbar-brand span.icon-phoenix_logo:hover {
	color:#38b7ea;
}

.navbar-brand a:link {
	text-decoration: none !important;
}

.navbar-brand a: {
	text-decoration: none !important;
}

h1 a:hover span.icon-archlinux {
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	-moz-text-shadow:0px 0px 1px black, 0 0 15px #38b7ea;
	-webkit-text-shadow:0px 0px 1px black, 0 0 15px #38b7ea;
	-o-text-shadow:0px 0px 1px black, 0 0 15px #38b7ea;
	text-shadow:0px 0px 1px black, 0 0 15px #38b7ea;
	color:#38b7ea;
}

h1 a:hover span.icon-phoenix_logo {
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	-moz-text-shadow:0px 0px 1px black, 0 0 15px #38b7ea;
	-webkit-text-shadow:0px 0px 1px black, 0 0 15px #38b7ea;
	-o-text-shadow:0px 0px 1px black, 0 0 15px #38b7ea;
	text-shadow:0px 0px 1px black, 0 0 15px #38b7ea;
	color:#38b7ea;
}

#footer a:hover {
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	color: #07b;
}

.fa-bars:hover {
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	color: #1794D1;
}

.header-inner {
	background-color: #333;

}

a.navbar-brand span.site-title-arch {
	position: absolute;
	padding-left:5px;
	font-size:33px;
	color: #fff;
	font-weight: 700;
}
a.navbar-brand span.site-title-linux {
	position: absolute;
	padding-left:76px;
	font-size:36px;
	color: #fff;
	color: #1793D1;
	font-weight: 200;
}
#header a, #header a:visited {
	color: #fff;
	position:relative;
}

#header a:hover, #header a:hover {
	color:#38b7ea;
	position:relative;
}

.widget-download {
	margin-top:30px;
}

.fa-arrow-circle-o-down:hover {
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	color: #1794D1;
}

.widget-title .fa-rss-square {
	font-size:18px;
}

.navbar-brand {
	padding: 6px !important;
	left: 15px;
}

div#example-heatmap {
	padding: 30px;
}

.heatmap h3 {
	font-size: 22px;
	padding: 20px 20px 0 20px;
}


